
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="page-title-box">
                    <h4 class="page-title">Timeline</h4>
                    <ol class="breadcrumb p-0 m-0">
                        <li>
                            <a href="#">Pages</a>
                        </li>
                        <li class="active">
                            Timeline
                        </li>
                    </ol>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-xs-12">
                <div class="card-box">
                    <div class="timeline">
                        <article class="timeline-item alt">
                            <div class="text-right">
                                <div class="time-show first">
                                    <a href="#" class="btn btn-primary w-lg">Today</a>
                                </div>
                            </div>
                        </article>
                        <% @bets.sort_by{|x| x[:created_at]}.each do |bet| %>
                        <% if bet.created_at < Date.today + 1  && bet.created_at >= Date.today  %>
                        <article class="timeline-item alt">
                            <div class="timeline-desk">
                                <div class="panel">
                                    <div class="timeline-box">
                                        <span class="arrow-alt"></span>
                                        <span class="timeline-icon bg-info"><i class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                        <h4 class="text-info"><%=bet.created_at.strftime("%m/%d/%Y")%></h4>
                                        <h6 class="text-right"><%="#{bet.first_user.name.capitalize} vs #{bet.second_user.name.capitalize}"%></h6>
                                        <p><%=bet.terms%></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <%end%>

                        <%end%>


                        <article class="timeline-item alt">
                            <div class="text-right">
                                <div class="time-show">
                                    <a href="#" class="btn btn-primary w-lg">Yesterday</a>
                                </div>
                            </div>
                        </article>
                        <% @bets.sort_by{|x| x[:created_at]}.each do |bet| %>
                        <% if bet.created_at <= Date.today - 1 && bet.created_at > Date.today - 2 %>
                        <article class="timeline-item">
                            <div class="timeline-desk">
                                <div class="panel">
                                    <div class="timeline-box">
                                        <span class="arrow"></span>
                                        <span class="timeline-icon bg-warning"><i class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                        <h4 class="text-warning"><%=bet.created_at.strftime("%m/%d/%Y")%></h4>
                                        <h6 class="text-left"><%="#{bet.first_user.name.capitalize} vs #{bet.second_user.name.capitalize}"%></h6>
                                        <p><%=bet.terms%></p>

                                    </div>
                                </div>
                            </div>
                        </article>
                        <%end%>
                        <%end%>
                          <article class="timeline-item">
                            <div class="text-right">
                                <div class="time-show">
                                    <a href="#" class="btn btn-primary w-lg">This Month</a>
                                </div>
                            </div>
                        </article>
                        <% @bets.sort_by{|x| x[:created_at]}.reverse.each do |bet| %>
                        <% if bet.created_at > 1.month.ago && bet.created_at< 1.day.ago %>
                        <article class="timeline-item alt">
                            <div class="timeline-desk">
                                <div class="panel">
                                    <div class="timeline-box alt">
                                        <span class="arrow-alt"></span>
                                        <span class="timeline-icon bg-success"><i class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                        <h4 class="text-success"><%=bet.created_at.strftime("%m/%d/%Y")%></h4>
                                        <h6 class="text-right"><%="#{bet.first_user.name.capitalize} vs #{bet.second_user.name.capitalize}"%></h6>
                                        <p><%=bet.terms%></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <%end%>
                        <%end%>

                        <article class="timeline-item alt">
                            <div class="text-right">
                                <div class="time-show">
                                    <a href="#" class="btn btn-primary w-lg">Last Month</a>
                                </div>
                            </div>
                        </article>
                        <% @bets.sort_by{|x| x[:created_at]}.reverse.each do |bet| %>
                        <% if bet.created_at < 1.month.ago%>
                        <article class="timeline-item">
                            <div class="timeline-desk">
                                <div class="panel">
                                    <div class="timeline-box">
                                        <span class="arrow-alt"></span>
                                        <span class="timeline-icon bg-danger"><i class="mdi mdi-checkbox-blank-circle-outline"></i></span>
                                        <h4 class="text-danger"><%=bet.created_at.strftime("%m/%d/%Y")%></h4>
                                        <h6 class="text-left"><%="#{bet.first_user.name.capitalize} vs #{bet.second_user.name.capitalize}"%></h6>
                                        <p><%=bet.terms%></p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <%end%>
                        <%end%>



                    </div>
                    <!-- end timeline -->

                </div> <!-- container -->

            </div> <!-- content -->
